/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

/* ===== VARIABLES ===== */
html {
  /* Color */
  --hue: 264;

  --background: hsl(var(--hue), 87%, 34%);
  --details: hsl(var(--hue), 81%, 64%);

  --white: #fafafa;
  --header-title: #f4d35e;

  /* Font */
  /* Faz com que 1rem seja equivalente a 10px, facilitando a conversão de px para rem */
  font-size: 62.5%;
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--background);
}

.content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 11.4rem 1fr;

  width: 100%;
  margin: 0 auto;

  grid-template-areas:
    'header header'
    'left right';
}

header {
  grid-area: header;

  display: inline-block;

  width: 80%;
  margin: 2.5rem auto;
}

header h1 {
  width: 21rem;

  font: bold 3.5rem 'Poppins', sans-serif;

  background-color: var(--background);
  color: var(--white);
  transition: 0.3s;
}

header h1:hover {
  transform: scale(1.1, 1.1);
}

header h1 span {
  color: var(--header-title);
}

#image {
  grid-area: left;

  background: url('https://raw.githubusercontent.com/JeanCarlosHP/polaris-tech/master/img/spaceman.svg')
    no-repeat top/contain;

  background-position-x: -5rem;
}

#star {
  background: url('https://raw.githubusercontent.com/JeanCarlosHP/polaris-tech/master/img/star.svg')
    no-repeat top/contain;

  width: 1rem;
  height: 1rem;

  position: fixed;
  z-index: -1;

  animation: showStar infinite alternate;
}

main {
  grid-area: right;

  display: flex;
  align-items: center;
  margin-top: -12rem;
}

main .container {
  width: min(36.3rem, 100%);
  background-color: var(--background);
}

main h2 {
  text-align: center;
  margin-bottom: 2rem;

  font: bold 3.5rem 'Open Sans', sans-serif;

  color: var(--white);
}

main input,
main button {
  display: block;
  padding: 1rem;

  font: normal 1.5rem 'Open Sans', sans-serif;

  color: var(--white);
}

main input {
  width: 80%;
  border-bottom: 2px solid var(--details);
  margin: 0 auto 2rem auto;

  background-color: transparent;
}

::-webkit-input-placeholder {
  color: var(--white);
}

main button {
  width: 30%;
  margin: 2.5rem auto 2.5rem auto;
  font-weight: bold;
  background-color: var(--details);
}

main button:hover {
  transition: 0.2s;
  opacity: 0.8;
}

main p a {
  margin-left: 10%;
  color: var(--white);
  font: normal 1.5rem 'Poppins', sans-serif;
}

main p a:hover {
  transition: 0.2s;
  opacity: 0.8;
}

@keyframes showStar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 1fr;

    grid-template-areas:
      'header'
      'image'
      'login';
  }

  header {
    grid-area: header;

    margin-top: 1rem;
  }

  header .header {
    display: flex;
    justify-content: center;
  }

  header h1:hover {
    transform: scale(1, 1);
  }

  #image {
    grid-area: image;
    background-position: center;
  }

  main {
    grid-area: login;

    justify-content: center;
    margin-top: 0;
  }

  main .container {
    margin-top: -8rem;
  }

  main button:hover,
  main p a:hover {
    opacity: 1;
  }

  main button:active,
  main p a:active {
    opacity: 0.8;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  main p a {
    margin-left: 0;
  }

  main p {
    text-align: center;
  }
}
